.myp__contents
  .myp__contents__box
    = link_to "/tweets", class: "myp__contents__box__triplog" do
      =icon('fas', 'plane')
      TripLog
    = link_to "../../maps", class: "myp__contents__box__gmap" do
      =icon('fas','map-pin')
      NextTrip
    -# = link_to "/", class: "myp__contents__box__tourist" do
    -#   =icon('fas', 'users')
    -#   Tourist