@import "compass";

body,html {
  height: 100%;
  background-color: skyblue;
  color: gray;
}

body {
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.bold {
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
  i {
    font-style: italic;
    font-size: 1.8em;
  }
}


.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  color: gray;
  &__box {
    position: relative;
    &__upper {
      display: flex;
      justify-content: space-around;
    }  
    &__under {
      &__login-user{
        display: flex;
        justify-content: space-evenly;
        &__btn {
        }  
      }
      &__not-login-user {
        display: flex;
        justify-content: space-evenly;
      }
    }
    
  }
  .user_nav {
    position: relative;
    height: 100px;
    right: 0;
    span {
      top: 5px;
      display: block;
      float: left;
      margin-left: 30px;
      width: 150px;
      height: 50px;
      font-size: 1em;
      cursor: pointer;
      position: relative;
      &:after {
        content: '▼';
        font-size: .7em;
        margin-left: -4px;
      }
      &:hover ul {
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
      li {
        background-color: #f0f0f0;
        a {
          display: block;
          padding: 10px 20px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
        }
      }
     }
  }
}
.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}
div.contents.row {
  h2 {
    font-weight: normal;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }

  div.content_post {

    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
 
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 3px;
    }
    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 80px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            padding: 5px;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    p {
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    span.name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        display: block;
        color: #aaa;
        &:hover {
          text-decoration: underline;
          color: #aaa;
        }
      }
      span {
        font-size: 9px;
        display: block;
      }
    }
  }
  .success {
    box-sizing: border-box;
    text-align: center;
  }
}
form {
  text-align: center;
  h3 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
  input,textarea {
    // width: 100%;
    border-radius: 5px;
    padding:0 15px;
  }
  
}
.container {
  box-sizing: border-box;
}
.comments {
  padding: 5px;
  margin-top: 15px;
}

footer {

  p {
    text-align: center;
  }
}

.search-form {
  text-align: center;
  padding-top: 32px;
  .search-input {
    width: 30%;
    margin-right: 10px;
  }

  .search-btn {
    width: 10%;
  }
}