#gmap {
  width: 100vw;
  height: 100vh;
 }

 .myp__contents {
  height: 100%;
  width: 100%;
  background-color: skyblue;
 
 }
.japanmap {
  padding-top: 10px;
  height: 20px;
  text-align: center;
}
#map-container {
   text-align: center;
   padding-top: 20px;
}

.myp__contents {
  height: 100%;
  font-size: 30px;
  &__box {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
    &__triplog {

    }
    &__gmap {

    }
    &__tourist {

    }
  }
}


.follow-btn {
  border-radius: 20px;
  color: skyblue;
  border: 0;
  font-size: 18px;
  background-color: white;
}